:root {
    --font-bold: 'CircularSD-bold';
    --font-book: 'CircularSD-book';
    --font-title-bold: 'CircularSD-title-bold';
    --font-title-black: 'CircularSD-title-black';
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-book);
}

/* fonts */

@font-face {
    font-family: 'CircularSD-bold';
    src: url(/assets/fonts/CircularSp-Bold-602e7aefc706aa36c6ec1324b9bbc461.woff2);
}

@font-face {
    font-family: 'CircularSD-title-bold';
    src: url(/assets/fonts/CircularSpTitle-Bold-b2586b06a2e1522e9d879d84c2792a58.woff2);
}
@font-face {
    font-family: 'CircularSD-book';
    src: url(/assets/fonts/CircularSp-Book-a00e99ef9996a3a157fb6b746856d04f\ \(1\).woff2);
}

@font-face {
    font-family: 'CircularSD-title-black';
    src: url(/assets/fonts/CircularSpTitle-Black-4588c99025b967475c31695b0743dd1a.woff2);
}


body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    background-color: black;
    font-size: 22px;
    position: fixed;
}

a {
    text-decoration: none;
}

.wrapper {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 8px;
    max-height: 100vh; /* Set height to 100% of viewport height */
    position: fixed;
    gap: 8px;
}


.wrapper-top {
    width: 100%;
    max-height: 90.7vh;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 0;
    

}

.wrapper-bottom {
    width: 100%;

    z-index: 2;
    min-height: 66px;
    background: linear-gradient(to right, #af2896, #509bf5);
    padding: 11px 24px 7px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preview-continer {
    margin-bottom: 4px;
}


.preview {
    font-size: 14px;
    font-family: var(--font-bold);
    color: #ffffff;
}

.signup-text {
    font-size: 16px;
    font-family: var(--font-book);
    color: #ffffff;
}

.wrapper-bottom button {
    display: flex;
    padding: 8px 32px;
    border: none;
    background-color: #ffffff;
    border-radius: 9999px;
    
}

.wrapper-bottom button span {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    color: black;
    font-family: var(--font-bold);
}


